:root {
    --color-background:#8889e9; 
    --color-background-2:#dedff7; 
    --color-font:#ffffff; 
    --color-font-2: #171be9; 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  
}

body *{
   color: var( --color-font);
   background-color: var(--color-background);
  
}
.container {
    height: 100vh;
    width:100%; 
    background-color: var(--color-background-2);
}
.center {
    position: absolute;
    top:45%;
    left: 30%;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
}

footer ul {
    max-width: 400px;
    width:100%;
    margin: auto;
    display:flex;
    justify-content: space-around;
    list-style: none;
    
}

.media-icon-container {
    width:50px;
    height:50px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    color: var(--color-font);
    border:var(--color-font) 2px solid;
    border-radius: 15px;
   
    position: relative;
    top: 10px;
    
}
.media-icon {
    font-size:32px;
    background: var(--color-background);
   
}
.media-icon.smaller {
    font-size: 24px;
    position: relative;
    bottom:-5px;
}

footer ul  li:hover * {
    color:var(--color-font-2);
    background: var(--color-background-2);
    
}

  
@media screen and (max-width:600px) {

    footer ul {
        padding: 0;
        margin: auto;

    }
    footer ul li {
        padding: 0;
        margin: 0;
    }
    .media-icon-container:hover {
        position: relative;
        top: 5px;
    }

}
